<!-- {%load static %} -->
{% load static %}


<!DOCTYPE html>
<html>
    <head>
        <title>
            Hello
        </title>
        

<link rel="stylesheet" type="text/css" href="{% static 'styling/style.css '%}">
        <!-- <link href="static/styling/style.css" rel ="stylesheet"> -->
            <link rel="stylesheet" href="{% static 'styling/style.css' %}" >

      <!-- <style>
          body{
              background-color: gold;
          }
      </style>   -->
    </head>
    <body>
        <h1>Hello {{name}}</h1>
        <h2>The date today is {{date}}</h2>
        <h3>{{date}}</h3>
        
    </body>
</html>